<p-dialog
  [header]="isEditing ? 'Detalii Factură' : 'Adaugă Factură'"
  [(visible)]="displayModal"
  modal="true"
  [closable]="true"
  [style]="{ width: '46vw', heigth: '40em' }"
  [draggable]="false"
  (onHide)="closeModal()"
>
  <form [formGroup]="billsForm">
    <div class="flex flex-column justify-content-center gap-3">
      <div class="flex flex-column gap-3">
        <span>Adaugă factura în format PDF:</span>
        <div class="flex align-items-center gap-3">
          <p-fileUpload
            class="-mt-1"
            mode="basic"
            name="demo[]"
            chooseIcon="pi pi-upload"
            accept="application/pdf*"
            maxFileSize="1000000"
            (onSelect)="onFileSelect($event)"
            [auto]="true"
            chooseLabel="Browse"
            styleClass="editButton"
          />
          <div *ngIf="uploadedFileName" class="mt-2 text-sm text-green-600">
            Fișier încărcat: {{ uploadedFileName }}
          </div>
        </div>
      </div>
      <div class="flex align-items-center gap-6 mt-3">
        <div class="flex flex-column">
          <span>Tip:</span>
          <p-dropdown
            [options]="['apă', 'gaz', 'electricitate']"
            formControlName="type"
            placeholder="Alege tipul facturii"
            name="selectedType"
            [editable]="true"
            [style]="{ width: '19em' }"
            (onChange)="checkType($event)"
          ></p-dropdown>
        </div>
        <div class="flex flex-column">
          <span>Furnizor:</span>
          <input
            style="width: 19em"
            type="text"
            pInputText
            formControlName="provider"
          />
        </div>
      </div>
      <span>Număr:</span>
      <input class="-mt-3" type="email" pInputText formControlName="number" />
      <div *ngIf="shouldShowIndexes" class="flex align-items-center gap-6">
        <div class="flex flex-column">
          <span>Index Vechi:</span>
          <input
            style="width: 19em"
            type="text"
            pInputText
            formControlName="oldIndex"
          />
        </div>
        <div class="flex flex-column">
          <span>Index Nou:</span>
          <input
            style="width: 19em"
            type="text"
            pInputText
            formControlName="newIndex"
          />
        </div>
      </div>
        <div *ngIf="shouldShowIndexes" class="flex flex-column">
          <span>Consum:</span>
          <input
            type="text"
            pInputText
            formControlName="amountConsumed"
          />
        </div>
      <div class="flex align-items-center gap-6">
        <div class="flex flex-column">
          <span>Dată factură:</span>
          <p-calendar
            [style]="{ width: '19em' }"
            formControlName="invoiceDate"
            dateFormat="dd/mm/yy"
            yearNavigator="true"
            [yearRange]="'2000:2030'"
          />
        </div>
        <div class="flex flex-column">
          <span>Dată scadentă:</span>
          <p-calendar
            [style]="{ width: '19em' }"
            formControlName="dueDate"
            dateFormat="dd/mm/yy"
            yearNavigator="true"
            [yearRange]="'2000:2030'"
          />
        </div>
      </div>
      <span>Valoare:</span>
      <input
        class="-mt-3"
        type="text"
        pInputText
        formControlName="paymentValue"
      />
      <div class="flex justify-content-center">
        <p-button
          styleClass="editButton"
          [label]="isEditing ? 'Actualizează' : 'Salvează'"
          (click)="toggleEdit()"
        ></p-button>
      </div>
    </div>
  </form>
</p-dialog>
