<h2>Welcome to Homespend</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" placeholder="Introduceti email-ul" />
  </div>

  <div>
    <label for="password">Parola:</label>
    <input type="password" id="password" formControlName="password" placeholder="Introduceti parola" />
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Autentificare</button>
</form>

<!-- Afișează mesajul de eroare dacă există -->
<p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>

<p>Nu ai cont? <a routerLink="/register">Înregistrează-te aici!</a></p>
<button routerLink="/register" class="btn btn-secondary">Creează cont</button>


  