<div class="login-container">
  <h2 class="title">Bun venit in Homespend!</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        pInputText
        placeholder="Introduceti email-ul:"
        type="email"
        id="email"
        formControlName="email"
        class="form-input"
      />
    </div>

    <div class="form-group">
      <label for="password">Parola:</label>
      <input
        pInputText
        type="password"
        id="password"
        formControlName="password"
        placeholder="Introduceti parola"
        class="form-input"
      />
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="btn-submit">
      Autentificare
    </button>
  </form>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <p class="register-link">
    Nu ai cont?
    <a routerLink="/register" class="link">Înregistrează-te aici!</a>
  </p>
</div>
