:host ::ng-deep .addButton {
        background: #69827a;
        border: 1px solid #69827a;
}

:host ::ng-deep {
        .p-toast .p-toast-message .p-toast-message-content .p-toast-icon-close {
                border: 0px solid !important
        }

        .rejectButton {
                color: #69827a
        }
}