<app-header></app-header>
<div class="page-container">
  <div class="flex justify-content-between align-items-center">
    <h2>Facturi</h2>
  </div>
  <p-card>
    <div class="flex align-items-center justify-content-between">
      <div class="flex align-items-center gap-3">
        <label
          >Alege locuința pentru care dorești să vizualizezi secțiunea
          <strong>Facturi</strong></label
        >
        <p-dropdown
          [options]="apartments"
          [(ngModel)]="selectedAp"
          placeholder="Alege apartamentul"
          (ngModelChange)="onApSelection()"
        ></p-dropdown>
      </div>
      <div *ngIf="apCode" class="mr-3 flex align-items-center">
        <div *ngIf="userRole !== 'ADMIN' && adminCode !== 'CASA'">
          <p-button
            label="Adaugă index"
            [style]="{ width: '9em', 'margin-right': '0.5em' }"
            (click)="addIndex()"
            styleClass="addButton"
          ></p-button>
        </div>
        <div>
          <p-button
            label="Adaugă factură"
            [style]="{ width: '9em' }"
            (click)="addBill()"
            styleClass="addButton"
          ></p-button>
        </div>
      </div>
    </div>
    <div *ngIf="bills.length > 0">
      <p-table
        #dt1
        [value]="bills"
        [paginator]="true"
        [rows]="5"
        responsiveLayout="scroll"
        selectionMode="single"
        [(selection)]="selectedBill"
        (onRowSelect)="openModal()"
        [globalFilterFields]="['type', 'dueDate', 'paymentValue', 'status']"
      >
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between">
            <p>Vezi facturile aferente apartamentului</p>
            <div class="flex">
              <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  (input)="applyFilterGlobal($event, 'contains')"
                  placeholder="Caută"
                  style="width: 18.5em"
                />
              </p-iconField>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10%" pSortableColumn="type">
              Tip <p-sortIcon field="type"></p-sortIcon>
            </th>
            <th style="width: 10%" pSortableColumn="dueDate">
              Scadență <p-sortIcon field="dueDate"></p-sortIcon>
            </th>
            <th style="width: 10%" pSortableColumn="paymentValue">
              Valoare <p-sortIcon field="paymentValue"></p-sortIcon>
            </th>
            <th style="width: 10%" pSortableColumn="status">
              Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th style="width: 10%" pSortableColumn="pdfFile">
              Factură PDF <p-sortIcon field="pdfFile"></p-sortIcon>
            </th>
            <th style="width: 5%"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bill>
          <tr [pSelectableRow]="bill">
            <td>{{ bill.type }}</td>
            <td>{{ bill.dueDate }}</td>
            <td>{{ bill.paymentValue }} RON</td>
            <td>
              <p-tag
                [value]="bill.status"
                [severity]="getSeverity(bill.status)"
              />
            </td>
            <td>
              <p-button
                *ngIf="bill.pdfFile"
                type="button"
                class="p-button-sm"
                [outlined]="true"
                [style]="{
                  width: '11em',
                  color: '#69827a',
                  'border-color': '#69827a'
                }"
                (click)="
                  downloadPdf(bill.pdfFile, 'factura_' + bill.number + '.pdf')
                "
                >Descarcă PDF
                <i class="pi pi-download" style="margin-left: 0.5em"></i
              ></p-button>
              <span *ngIf="!bill.pdfFile">N/A</span>
            </td>
            <td>
              <div class="flex align-items-center justify-content-end gap-2">
                <p-button
                  type="button"
                  class="p-button-sm mr-1"
                  [style]="{ background: '#e6b73c', 'border-color': '#e6b73c' }"
                  (click)="editBill(bill)"
                >
                  <i class="pi pi-file-edit"></i
                ></p-button>
                <p-button
                  type="button"
                  class="p-button-sm"
                  (click)="deleteBill(bill.id)"
                  [style]="{ background: '#f45b69', 'border-color': '#f45b69' }"
                >
                  <i class="pi pi-trash"></i
                ></p-button>
                <div *ngIf="userRole !== 'ADMIN'">
                  <p-button
                    type="button"
                    class="p-button-sm"
                    severity="info"
                    (click)="changeStatus(bill)"
                    label="Schimbă status"
                    [style]="{
                      width: '11em',
                      background: '#4ea8a1	',
                      'border-color': '#4ea8a1	'
                    }"
                  >
                    <i class="pi pi-sliders-h mr-2"></i
                  ></p-button>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="mt-3" *ngIf="showNoBillsMessage">
      <strong>Nu există facturi aferente acestei locuințe. </strong>
    </div>
  </p-card>

  <p-dialog
    header="Adaugă index"
    [(visible)]="displayIndexModal"
    modal="true"
    [closable]="true"
    [style]="{ width: '25vw', heigth: '30em' }"
    [draggable]="false"
  >
    <div class="flex flex-column align-items-start gap-3">
      <span>Tipul Facturii:</span>
      <p-dropdown
        [options]="['apă', 'gaz', 'electricitate']"
        [(ngModel)]="selectedType"
        placeholder="Alege tipul facturii"
        name="selectedType"
        [style]="{ width: '21em' }"
      ></p-dropdown>
      <span>Index Nou:</span>
      <input
        style="width: 21em"
        type="text"
        pInputText
        [(ngModel)]="newIndex"
      />
    </div>
    <div class="flex align-items-end justify-content-end mt-3">
      <p-button
        label="Trimite index"
        (click)="sendIndex()"
        styleClass="addButton"
      ></p-button>
    </div>
  </p-dialog>

  <app-bills-modal
    [displayModal]="displayModal"
    (displayModalChange)="displayModal = $event"
    (reloadTable)="reloadTable($event)"
    [selectedBill]="selectedBill"
    [apCode]="apCode"
  ></app-bills-modal>

  <p-toast
    [showTransformOptions]="'translateY(100%)'"
    [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'"
    [showTransformOptions]="'translateX(100%)'"
  />

  <p-confirmDialog>
    <ng-template pTemplate="message" let-message>
      <div
        class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border"
      >
        <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
        <p>{{ message.message }}</p>
      </div>
    </ng-template>
  </p-confirmDialog>
</div>
