.header {
    top: 0px;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: white;
    color: #69827a;
    box-shadow: 0px 1px 1px grey;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 1.5em;
}