<app-header></app-header>
<div class="page-container">
  <!-- <div class="flex justify-content-start mt-2 -ml-3">
    <p-button
      [text]="true"
      (click)="onBack()"
      icon="pi pi-arrow-left"
      iconPos="left"
      severity="contrast"
      label="Înapoi"
    ></p-button>
  </div> -->
  <h2>Statistici</h2>
  <div class="flex align-items-center gap-4 mb-3">
    <label
      >Alege apartamentul pentru care dorești să vizualizezi secțiunea
      <strong>Statistici</strong></label
    >
    <p-dropdown
      [options]="apartments"
      [(ngModel)]="selectedAp"
      placeholder="Alege apartamentul"
      (ngModelChange)="onApSelection()"
    ></p-dropdown>
  </div>
  <div *ngIf="showCharts" class="flex gap-3">
    <p-card header="Total facturi - Luna curentă" styleClass="mb-4">
      <p-chart
        type="polarArea"
        [data]="chartDataCurrentMonth"
        width="25em"
        height="25em"
        [options]="chartMonthOptions"
      ></p-chart>
    </p-card>

    <p-card header="Facturi plătite">
      <div class="flex flex-column justify-content-start gap-3">
        <div class="flex align-items-center gap-4">
          <label>Factură: </label>
          <p-dropdown
            [options]="['apă', 'gaz', 'electricitate']"
            [(ngModel)]="selectedType"
            placeholder="Alege tipul facturii"
            name="selectedType"
            (ngModelChange)="onChangeType()"
          ></p-dropdown>
        </div>
        <div class="flex align-items-center gap-3">
          <label>Perioadă:</label>
          <p-calendar
            selectionMode="range"
            [(ngModel)]="selectedDates"
            dateFormat="dd/mm/yy"
            name="selectedDates"
            [ngModelOptions]="{ standalone: true }"
          ></p-calendar>
          <button pButton label="Caută" (click)="applyFilters()"></button>
        </div>
      </div>

      <div *ngIf="showChart" class="mt-6">
        <p-chart
          type="bar"
          [data]="chartDataFiltered"
          [responsive]="true"
          [options]="chartFilterOptions"
        ></p-chart>
      </div>
      <div *ngIf="noData" class="mt-5">
        <h4>Nu au fost găsite facturi achitate în acest interval.</h4>
      </div>
    </p-card>

    <p-card header="Facturi luna curentă" styleClass="mb-4">
      <p-chart
        type="doughnut"
        [data]="chartDataPaidUnpaid"
        [options]="chartPaidUnpaidOptions"
        width="25em"
        height="25em"
      ></p-chart>
    </p-card>
  </div>
  <div *ngIf="showNoBillsMessage">
    Nu există facturi aferente acestui apartament.
  </div>
</div>
